div {
  h1 {
    margin: 20px;
    text-align: center;
  }
}

.card_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 30px;
  justify-content: center;
}

.container_item {
  display: flex;
  flex-direction: column;
  max-width: 350px;
  min-width: 200px;
  margin: 10px;
  border: 1.5px solid black;
  border-radius: 6px;
  padding: 10px;
  min-height: 350px;
  justify-content: space-between;

  .name {
    margin-bottom: 8px;
  }

  p {
    margin-bottom: 10px;
  }
}

.buttonContainer {
  display: flex;
  align-items: center;
  justify-content: center;

  .button {
    width: 150px;
  }
}
