<section *ngIf="!!incomes.length; else elseBlock" class="container">
  <div>
    <h1>Incomes List</h1>
  </div>

  <div class="list">
    <ul>
      <li
        *ngFor="let income of incomes"
        class="list_item background_green"
        appToggleDetails
      >
        <div class="main_info">
          <span
            ><strong>{{ income.name }}</strong></span
          >
          <div class="button_toggler">Show Details ⬇</div>
        </div>
        <div class="payment_details hide">
          <p>Amount: {{ income.value | currency: "EUR" }}</p>
          <p>Time: {{ income.time | date: "medium" }}</p>
          <p>{{ income.action | titlecase }}</p>
          <button class="button" (click)="onRemove(income)">Remove</button>
        </div>
      </li>
    </ul>
  </div>
</section>

<ng-template #elseBlock
  ><section class="container">
    <h1>You have no incomes!</h1>
  </section></ng-template
>
