<div class="movieContainer">
  <h2>{{ listTitle }}</h2>
  <app-movie
    [movieTitle]="movieTitle"
    (emitMovie)="onShowMovie($event)"
  ></app-movie>
  <div
    *ngIf="selectedMovie"
    [ngStyle]="{
      display: 'flex',
      'flex-direction': 'column',
      'align-items': 'center'
    }"
  >
    <h3>Name: {{ selectedMovie.name }}</h3>
    <p>
      <strong
        >Release Date:
        {{ selectedMovie.releaseDate | date: "longDate" }}</strong
      >
    </p>
    <p>
      <strong>Producer: {{ selectedMovie.producerName }}</strong>
    </p>
    <p>
      <strong>Genre: {{ selectedMovie.genre | uppercase }}</strong>
    </p>
  </div>
</div>
