<section *ngIf="!!outcomes.length; else elseBlock" class="container">
  <div>
    <h1>Outcomes List</h1>
  </div>

  <div class="list">
    <ul>
      <li
        *ngFor="let outcome of outcomes"
        class="list_item background_red"
        appToggleDetails
      >
        <div class="main_info">
          <span
            ><strong>{{ outcome.name }}</strong></span
          >
          <div class="button_toggler">Show Details ⬇</div>
        </div>
        <div class="payment_details hide">
          <p>Amount: {{ outcome.value | currency: "EUR" }}</p>
          <p>Time: {{ outcome.time | date: "medium" }}</p>
          <p>{{ outcome.action | titlecase }}</p>
          <button class="button" (click)="onRemove(outcome)">Remove</button>
        </div>
      </li>
    </ul>
  </div>
</section>

<ng-template #elseBlock
  ><section class="container">
    <h1>You have no outcomes!</h1>
  </section></ng-template
>
