<header>
  <div class="title">
    <h1>🚀 Swapi 🚀</h1>
  </div>
  <div class="header__right">
    <nav>
      <ul>
        <li>
          <a
            routerLink="/"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Home</a
          >
        </li>
        <li><a routerLink="/people" routerLinkActive="active">People</a></li>
        <li>
          <a routerLink="/planets" routerLinkActive="active">Planets</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
